# IntelliJ
.idea/
*.iml

# Gradle
.gradle/
**/build/

# Flutter and Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
**/.pub-cache/
**/build/

# Generated platform files
frontend/windows/flutter/ephemeral/
frontend/linux/flutter/ephemeral/
frontend/macos/Flutter/ephemeral/

# Secrets
.env
.env.*
!.env.example

# Logs
logs/
*.log